@font-face {
    font-family: 'NipCen_s_Print_Unicode'; /*a name to be used later*/
    src: url('NipCen_s_Print_Unicode.ttf'); /*URL to font*/
}

/*
 * This CSS is made for the needs of team-project in SoftUni.bg
 * This design is free to use for everyone.
*/

body {
font-family: Verdana, sans-serif; 
line-height: 1.4;
font-size: 12px;
background: #DBDBDB;
margin: 0;
padding: 0;
}

/* fix the size of everything. Like wrapper. */
.topspace { 
	width: 950px;
	background-color: #FFF;
	margin: 20px auto;
}
@media (max-width: 975px) {
  .topspace {
    width:100%;
  }
}

#container {
	width: 95%;
	margin-left: 2.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}
/* top picture of the header */
header.topheader {
	height: 130px;
	width: 100%;
	background: #234465;
}

/* fix position of the site name in the header */
header.topheader h1 {
margin: 0;
padding: 30px 0 0 30px;
font-weight: 100;
font-size: 30px;
letter-spacing: -2px;
}

header h1 a { text-decoration: none; color: #fff; }
header h1 a:hover { text-decoration: none; border-bottom: 1px solid #F9F7ED; }

header h2 { padding: 0 0 0 70px; margin: 0; color: #ff9c00; font-weight: 100; }

/* navigation */
nav.menu {
	height: 40px;
	line-height: 40px;
	background-color: #FF9C00;
	width: 100%;
	position:relative;
}

/*  */
nav.menu ul {
list-style-type: none;
margin: 0;
padding-left: 0;
}
nav.menu ul li {
display: block;
float: left;
}
nav.menu ul li a {
display: block;
padding: 0 10px 0 10px;
text-decoration: none;
color: #fff;
font-size: 12px;
font-weight: 900;
}

/* Navigation mouse over */
nav.menu ul li a:hover {
	color: #fff;
	background-color: rgba(5,5,5,0.45)
}

#team-section {    
    width:100%;
}
    #team-section article {
        display:inline-block;
    }
    #team-section figure {        
        display:inline-block;
        font-size:1.2rem;
        font-family:'NipCen_s_Print_Unicode', 'Times New Roman', sans-serif;
        width:19%;
    } 
    #team-section img {
       width:100%;
       display:inline-block;       
    }

#starting-text a {
    text-decoration:none;   
}

#fiction {
    font-weight:800;
    font-size: 18px;
    margin-top:20px;
    text-align:center;
    color: #ff9c00;
}
.content {
	float: right;
	width: 75%;
	margin-top: 10px;
}

.content p { padding: 0 0 10px 0; color: black;}

.content h2 {
margin: 0;
color: #ff9c00;
line-height: 30px;
font-size: 22px;
font-weight: 100;
}
div.gag{
	position: relative;
}
h2.gag {
	font-size: 26px;
	font-weight: 500;
	line-height: 1.7em;
	color: #234465;
	word-wrap: break-word;
	background-color: #ff9c00;
	float: left;
	width: 100%;	
}
.gag img {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
img.like {
	width: 44px;
	padding-right: 10px;	
	margin: 0;
}
hr.shiny {
	float: left;
	margin-top: 1%;
	margin-left: 10%;
	margin-bottom: 4%;
	width: 80%;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.logo {
	width: 20%;
	float: right;
	margin-top: -20px;
}
.sidebar {
	float: left;
	width: 23.45%;
	background: #234465;
	margin-top: 10px;
}
@media (max-width: 720px) {
  .sidebar {
    width: 100%;
	
  }
  .content {
	float: left;
	width: 100%;
  }
  nav.menu ul li {
	display: block;
	width: 100%;
	text-align: center;
	float: left;
	background-color: #FF9C00;
  }
  h2.gag {
	text-align: center;
  }
}

.sidebar h3 {
height: 40px;
line-height: 40px;
font-weight: 900;
font-size: 12px;
margin: 0; padding: 0 0 0 10px; 
color: #234465;
background: #FF9C00;
}

.sidebar p { padding: 0 10px 10px 10px; color: #232323; }

.sidebar ul {
padding: 10px 0 25px 30px;
margin: 0;
color: #fff;
}

.sidebar ul li {
padding: 0;
margin: 0;
}

.sidebar ul li a {
    color: #fff
}

.sidebar ul ul { padding: 2px 0 2px 20px; }

.footer { 
	text-align: center;
	height: 42px;
	line-height: 42px;
	margin-top: 2.5%;
	color: #fff;
	font-size: 12px;
	background-color: #234465;
}
.footer p { padding: 0; margin: 0; }
.footer a { color: #fff; }
.footer a:hover { text-decoration: underline; }

#wrapper section {   
    position:relative;
    text-align:justify;
    width:100%;
}

#select-div {   
    width:100%;
    height:50px;
}

#nakovisms {
    width:100%;
    height:395px;
    overflow:scroll;
}
#wrapper legend {
    position:relative;
    margin-left:49%;    
}
 
#nacovisms-legend {   
    margin-left:42% !important;
}

#wrapper  cite:before, #wrapper cite:after{
    content:'"';
}

#wrapper .italic {
    font-style:italic;
}

#wrapper footer {
    width:100%;
}


#user-nakovism, #user-meaning-nakovism, #user-email {       
     margin:10px 2px 0 2px;
     width:95%;
     
}
#sugest-a-Nakovisum {
    text-align:center;
}

#sugest-a-Nakovisum button {       
    margin-top:10px;
    border-radius:25px;
    width:90%;
    height:90%;
    margin-bottom:20px;
}

#sugest-a-Nakovisum button:hover {
    background-image: url("../images/dragon-send.png");
    background-size:90% auto;    
    background-repeat:no-repeat;
    background-color: #fff;

}

#sugest-a-Nakovisum button img {
    width:155px;
    height:180px;    
}

.slothAdv {
    font-family:NipCen_s_Print_Unicode,Tahoma,sans-serif;  
    text-shadow: 5px 5px 15px black 
}

.slothAdv img {
    width:100%;
}

.slothAdv article {
    font-size:20px;
    vertical-align:middle;  
    margin-bottom:20px;
    float:left;
}

.slothAdv article::before {   
   content:url(../images/bullet-dragon.png);   
   padding-right:10px;
   float:left;      
}

.slothAdv article::after {   
    clear:both;
}

.slothAdv article li{
    margin-left:35px;
}

.sloth-training {
    background-color:lightgray;
    font-family: "PT Sans",Tahoma,sans-serif;
    font-size: 1em;
    color: #5A5A5A;


}


.sloth-training h1 {
    color: #234465;
    font-family: inherit;
    font-size: 24px;

    font-weight: 500;
    line-height: 1.1;   
    margin:0 auto;
}

.sloth-training #list {
    box-sizing: border-box;
    margin: 20px 0px 25px;
    background: none repeat scroll 0% 0% #FFF;
    padding: 10px !important;
    box-shadow: 0px 2px 3px #BFBFBF;
    list-style: none outside none;        
}

.sloth-training #list, .sloth-training #center {
    	width: 100%;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sloth-training p {
    margin-top:0;
    text-align:justify;
}

.sloth-training strong {
    font-weight: 700;
}


.sloth-training hr {
    margin-top: 20px;
    margin-bottom: 20px;    
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #EEE -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;    
}

.sloth-training table, .sloth-training th, .sloth-training td {
    vertical-align:top;
    border-collapse: collapse;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-spacing: 0px;
}

.sloth-training table {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    background: none repeat scroll 0% 0% #FFF;
}
.sloth-training th {
    background-color:#3D99D9;
    text-align: left;
    color: white;
    border:1px solid #3D99D9;
    border-right:1px solid lightgray;
    vertical-align: middle;
    padding:10px 0 10px 5px;
    width:25%
}
    .sloth-training th:last-of-type {
        border-right:0.5px solid #3D99D9;
    }

.sloth-training td {
    padding:5px;
}

.sloth-training ul {
    margin:0 5px 5px 5px ; 
    padding:0 5px 10px 5px;     
}

.sloth-training li {
    list-style-type: none;
    margin-bottom:10px;       
}

.sloth-training a {
    color: #234465;
    text-decoration:none;
}

    a:hover {
        color: #428BCA;
    }

.sloth-training dl {
    display:block;
}

.sloth-training dd::before {
    content:"\25BA";
    font-family:Arial;
    margin-right:3px;
    vertical-align:top;
}



.sloth-training #pesent::before {
    content:url(../images/file_presentation.png);
    margin-right:5px;
    vertical-align:top;
}

.sloth-training #program::before {
    content:url(../images/file_file.png);
    margin-right:5px;
    vertical-align:top;
}
.sloth-training #video::before {
    content:url(../images/file_video.png);
    margin-right:5px;
    vertical-align:top;

}

.sloth-training #usd::before {
    content:"$";
    margin-right:5px;
    vertical-align:top;
}

.sloth-training #euro::before {
    content:"И";
    margin-right:5px;
    vertical-align:top;
}

.sloth-training #lv::before {
    content:"ыт.";
    margin-right:5px;
    vertical-align:top;
}
div.slotcontent{
float: left;
}
h1:first-child {
	white-space: pre-wrap;
}
