/*
 * This CSS is made for the needs of team-project in SoftUni.bg
 * This design is free to use for everyone.
*/

body {
font-family: Verdana, sans-serif; 
line-height: 1.4;
font-size: 12px;
background: #DBDBDB;
margin: 0;
padding: 0;
}

/* fix the size of everything. Like wrapper. */
#topspace { 
width: 800px;
margin: 20px auto;
}

/* top picture of the header */
header.topheader {
height: 150px;
background: url(images/header.png) no-repeat; 
}

/* fix position of the site name in the header */
header.topheader h1 {
margin: 0;
padding: 55px 0 0 50px;
font-weight: 100;
font-size: 30px;
letter-spacing: -2px;
}

header h1 a { text-decoration: none; color: #fff; }
header h1 a:hover { text-decoration: none; border-bottom: 1px solid #F9F7ED; }

header h2 { padding: 0 0 0 50px; margin: 0; color: #ff9c00; font-weight: 100; }

/* navigation */
nav.menu {
 background: url(images/nav.png) no-repeat;
 height: 40px;
 line-height: 40px;
}

/*  */
nav.menu ul {
list-style-type: none;
margin: 0;
padding-left: 40px;
}
nav.menu ul li {
display: block;
float: left;
}
nav.menu ul li a {
display: block;
padding: 0 10px 0 10px;
text-decoration: none;
color: #fff;
font-size: 12px;
font-weight: 900;
}

/* Navigation mouse over */
nav.menu ul li a:hover {
color: #fff;
background: url(images/navover.png) repeat-x;
}

#headerbotframe {
    background: url(images/header-bot-frame.png) no-repeat; padding: 5px 0;
}

#contentspace {
background: #dcdcdc url(images/content.jpg) repeat-y;
padding: 0 40px;
}