<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/webSiteTabaluga" value="17963;True;3560;1;-8587982261325270381" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>